.cycleRoute {
  width: 100%;
  height: 500px;
  border: 0;
}

.routeContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 941px) and (max-width: 1400px) {
  .routeContainer {
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 940px) {
  .routeContainer {
    grid-template-columns: 1fr;
  }
}