.infoPanel {
  display: flex;
  flex-direction: column;
  border: 1px solid #195f2b;
}

.title {
  background-color: #195f2b;
  color: white;
  padding: 0.5rem;
  padding-left: 1.5rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.panel1 {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoTable,
.text {
  padding: 1rem;
}

.panelContent {
  display: flex;
  justify-content: flex-start;
}

.panelContent1st {
  display: flex;
  flex-grow: 1;

}

.map {
  width: 33%;
}

.image {
  width: 33%;
}

.image {
  width: 300px;
  height: auto;
  flex-grow: 1;
}

.mapLink {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 671px) and (max-width: 1299px) {

  .image,
  .panel1 {
    width: 50%;
    justify-content: space-evenly;
  }

  .image {
    max-height: 450px;
  }

  .map {
    display: none;
  }
}


@media (max-width: 670px) {
  .panelContent {
    flex-direction: column;
  }

  .map,
  .image,
  .panel1 {
    width: 100%;
    justify-content: space-evenly;
  }

  .map {
    display: none;
  }

  .image {
    max-height: 450px;
  }
}